---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Testimonials from '../components/Testimonials.astro';
import Cases from '../components/Cases.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import ServicesTail from '../components/ServicesTail.astro';
import Team from '../components/Team.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Testimonials />
    <Cases />
    <About />
    <Services />
    <ServicesTail />
    <Team />
  </main>
  <Footer />
</Layout>
